<h1>Password Generator</h1>
<div>
  <label>Desired Length</label>
  <input (input)="onChangeLength($event.target.value)" type="text" />
</div>
<div>
  <label>Use Letters</label>
  <input (change)="onChangeLetters()" type="checkbox" />
</div>
<div>
  <label>Use Numbers</label>
  <input (change)="onChangeNumbers()" type="checkbox" />
</div>
<div>
  <label>Use Symbols</label>
  <input (change)="onChangeSymbols()" type="checkbox" />
</div>
<div>
  <button 
    [disabled]="!(length && (useLetters || useNumbers || useSymbols))"
    (click)="onButtonClick()"
  >
    Generate
  </button>
</div>
<div>
  <label>Your Password</label>
  <input [value]="password" type="text" />
</div>